<!DOCTYPE html>
<html lang="en"
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insurance manager</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</head>
<body>
    <div th:replace="~{../templates/header :: header}"></div>

    <div class="container">
        <div class="row">
            <h1>Policies List</h1>
        </div>

        <a th:href = "@{/policies/create}" class="btn btn-primary btn-sm mb-3"> Add Policy </a>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Issue Date</th>
                    <th>Expire Date</th>
                    <th>Is Active</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="policy: ${policies}">
                    <td th:text="${policy.id}"></td>
                    <td th:text="${policy.number}"></td>
                    <td th:text="${policy.type}"></td>
                    <td th:text="${policy.issueDate}"></td>
                    <td th:text="${policy.expireDate}"></td>
                    <td th:text="${policy.isActive}"></td>

                    <td>
                        <a th:href="@{/policies/{id}/update(id=${policy.id})}"
                        class="btn btn-primary">Update</a>
                        <a th:href="@{/policies/{id}/delete(id=${policy.id})}"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>