<!DOCTYPE html>
<html lang="en"
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Insurance manager</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</head>
<body>

<div th:replace="~{../templates/header :: header}"></div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class="text-center">Update Policy</h1>
      <div class="card-body">
        <form th:action="@{/policies/{id}(id=${policy.id})}" th:object="${policy}" method="POST">
          <div class="form-group">
            <label>Number</label>
            <input
                    type="number"
                    name="number"
                    th:field="*{number}"
                    placeholder="Enter policy number" class="form-control">

            <label>Type:</label>
            <select name="policyType" th:field="*{type}">
              <option th:each="policyType : ${T(com.insurancemanager.model.PolicyType).values()}"
                      th:value="${policyType}" th:text="${policyType}"></option>
            </select><br>

            <label for="issueDate">Issue date:</label>
            <input type="date" th:field="*{issueDate}" id="issueDate"/><br>

            <label for="expireDate">Expire date:</label>
            <input type="date" th:field="*{expireDate}" id="expireDate"/><br>

            <label for="client">Client:</label>
            <select id="client" name="client" required>
              <option value="">Select Client</option>
              <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.firstName + ' ' + client.lastName + ' ' + client.phoneNumber}"></option>
            </select><br>

            <label for="agent">Agent:</label>
            <select id="agent" name="agent" required>
              <option value="">Select Agent</option>
              <option th:each="agent : ${agents}" th:value="${agent.id}" th:text="${agent.firstName + ' ' + agent.lastName + ' ' + agent.phoneNumber}"></option>
            </select><br>

            <label for="product">Insurance Product:</label>
            <select id="product" name="product" required>
              <option value="">Select Insurance Product</option>
              <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.title}"></option>
            </select><br>

            <div class="box-footer">
              <button type="submit" class="btn btn-info col-2">
                Update
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>