<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Policies List</h1>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Policy number</th>
<!--                    <th>Policy type</th>-->
<!--                    <th>Policy issue date</th>-->
<!--                    <th>Policy expire date</th>-->
<!--                    <th>Policy isActive</th>-->
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="policy: ${policies}">
                    <td th:text="${policy.number}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>